
<style>
  .auto-list{
    border:1px solid black;
    width:150px;
    max-height:20px;
    overflow:hidden;
    display:block;
    margin: 10px 0px 10px;
  }

  .multi-container {
    height:100px;
    width:150px;
    overflow:auto;
    position:absolute;
    top:88px;
    background-color:white;
    border:1px solid black;
    cursor:pointer;
  }

    .multi-container span {
      display:block;
    }

      .multi-container span.highlighted{
        background-color:blue;
        color:white;
      }

</style>

<div><input type="text" class="auto-list" id="ListSearch" [ngModel]="selectedItem.label"/></div>
<div id="Results" class="multi-container" [style.display]="searchResults.length > 0 ? 'block' : 'none'">
  <span *ngFor="let result of searchResults"
        (click)="selectItem(result)"
        id="{{result.value}}"
        [class]="result.isHighlighted ? 'highlighted' : ''"
        >
        {{ result.label }}
  </span>
</div>
